# Python Environment
.venv/
env/
__pycache__/
*.pyc

# Python Environment
.venv/
env/
__pycache__/
*.pyc

# Secrets & Environment Variables
.env

# Database
db.sqlite3

# OS Files
.DS_Store

# Virtual Environment
venv/
env/
.venv/

# Django / Static
media/

